body{
    background-color: hsl(0, 0%, 100%);
    color: #1e1e1e;
    margin: 0;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    gap: 10px;
    height: 100vh;
}

.header{
    border-bottom: solid;
    border-color: #1e1e1e;
    border-width: 1px;
    display: flex;
    font-size: 25px;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    
}

.navigation-links{
    display: flex;;
    justify-content: space-evenly;
    gap: 50px;
    list-style: none;
}

a{
 text-decoration: none;
}

#logo{

}
.container{
    border-bottom: solid;
    border-color: #1e1e1e;
    border-width: 1px;
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}